.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.Red-title {
  color: #5b5b5b;
  font-size: 17px;
  margin-bottom: 0;
  text-align: center;
}

.categories-title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-items: center;
  width: 100%; 
}

.category-card {
  background-color: #f0f0f0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  
  width: 152px; 
  height: 64px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.category-card:hover {
  transform: scale(1.05);
  background-color: #e9e8e8;
}

.category-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.category-image {

  width: 40px; 
  height: 40px;
  border-radius: 50%;
  border: 2px solid black; 
  margin-left: 7px;
  margin-right: 5px;
}

.category-name {
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-name {
  font-size: 15px;
  margin-bottom: 0;
  text-align: center; 
}


.category-name::after {
  content: '';
  height: 3px;
  width: 60%; 
  background-color: #4E169D;
  border-radius: 2px;
  transition: width 0.3s;
  align-self: left;
  margin-top: 5px; 
}

.category-card:hover .category-name::after {
  width: 100%;
}

.view-more-button-container {
  margin-top: 20px;
}

.view-more-button {
  background-color: #6b46c1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more-button{
  font-size: 15px;
}
.view-more-button:hover {
  background-color: #53399a;
}
